<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvo0hWBd5S9j2t6TXvjYQSBShHo-ZVgpg</string>
	<key>GCM_SENDER_ID</key>
	<string>640378417176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6ef90</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6ef90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640378417176:ios:6113e3a31c93b90c65136d</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-6ef90-default-rtdb.firebaseio.com</string>
</dict>
</plist>